@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>


<div id="divNewsLetterList" class="row card">
    <div class="col-md-12">
        <div class="block block-condensed noWhite">
            <div class="block-content">
                <div class="row row-margin">
                    <div class="col-lg-12 col-md-12">
                        <button id="btnUserNewsLetterToggle" title="Preview" class="btn btn-primary pull-right isPreviewHidden" onclick="Layout.togglePreviewButton(this,'userDefinedNewsletterList')">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button id="btnUserNewsLetterCreateNew" type="button" class="btn btn-success margin-right-5 pull-right titleButtonsDefault" onclick="UserNewsLetterControls.createNewTemplate();">Create New NewsLetter</button>
                        <button id="btnUserNewsLetterShowTemplate" type="button" class="btn btn-success margin-right-5 pull-right titleButtonsDefault" onclick="UserNewsLetterControls.showPredefinendTemplate();">Show Template</button>

                    </div>
                </div>
                <div id="userDefinedNewsletterList" class="row toggleDivParent toggleDivHidden">
                    <div class="panel-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table id="tblUserNewsLetterForms" class="table datatable-basic table-striped datatable-extended">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="splitter">
                    </div>
                    <div class="panel-right toogleDivMain">
                        <div class="toogleDivTitle">
                            <h2>
                                preview
                            </h2>
                        </div>
                        <div class="toogleDivContent">
                            <iframe id="previewUserNewsLetter"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none;" class="row card templateEditordiv">
    <div class="col-md-12">
        <div class="block block-condensed noWhite">
            <div class="block-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="createNewsletterDiv margin-bottom-5">
                            Base Template
                            <select id="ddlShellTemplates" class="form-control input-sm  pull-left" onchange="Newsletter.ddlShellTemplate_OnChange()"></select>
                        </div>
                        <div class="createNewsletterDiv margin-bottom-5">
                            Template Type
                            <select id="ddlTemplatesTypes" class="form-control input-sm" onchange="Newsletter.ddlTemplatesTypes_OnChange()"></select>
                        </div>
                        <div class="createNewsletterDiv margin-bottom-5">
                            Industry
                            <select id="ddlIndustries" class="form-control input-sm" onchange="Newsletter.ddlIndustries_OnChange()"></select>
                        </div>
                        <div class="createNewsletterDiv margin-bottom-5">
                            Sub-Industry
                            <select id="ddlSubIndustries" class="form-control input-sm"></select>
                        </div>
                        <div class="newsletterCreateButtons">
                            <button type="button" class="btn red margin-right-5 btn-success pull-right" onclick="Newsletter.presaveNewsletter();">Save</button>

                            <button id="btnTemplateReset" type="button" class="btn margin-right-5 btn-danger pull-right" onclick="Newsletter.resetNewsletterEditor()">Reset</button>

                            <button type="button" class="btn btn-primary margin-right-5 pull-right" onclick="Newsletter.cancelNewsletterEditor()">Cancel</button>

                        </div>
                    </div>


                </div>
                <div id="userDefinedNewsletterToggleCreate" class="">

                    <ul class="nav nav-tabs nav-tabs-highlight">
                        <li class="nav-item"><a data-toggle="tab" href="#designer" class="nav-link active show">Designer</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#preview" class="nav-link">Preview</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="designer" class="tab-pane fade in active show">
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row toggleDivParent">
                                    <div class="panel-left droppableLeftMinWidth col-lg-9">
                                        <div id="editorWrapper">
                                            <textarea id="templateEditor" cols="30" rows="40"></textarea>
                                        </div>
                                    </div>

                                    <div class="splitter"></div>

                                    <div class="panel-right droppableRightMinWidth droppableUl">

                                        <ul class="nav nav-tabs nav-tabs-highlight">
                                            <li class="nav-item"><a data-toggle="tab" class="nav-link active show" href="#home">News Letter</a></li>
                                            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu1">Email</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="home" class="tab-pane fade in active show">
                                                <div id="NewsletterTreeview" class="newslettertreeview"></div>
                                            </div>
                                            <div id="menu1" class="tab-pane fade">
                                                <div id="EmailTreeview" class="newslettertreeview"></div>
                                            </div>
                                        </div>

                                        @*<div id="NewsletterTreeview" class="newslettertreeview"></div>*@
                                        @*<div id="EmailTreeview" class="newslettertreeview"></div>*@
                                        <div id="OfficeImageTreeview" class="newslettertreeview"></div>
                                        <div class="newslettertreeview" style="display:none;">
                                            <a id="ImageUploadButton" style="width:100%;">Image Management</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="preview" class="tab-pane fade">
                            @*<div class="panel-right toogleDivMain">*@
                            @*<div class="toogleDivTitle">
                                    <h2>
                                        preview
                                    </h2>
                                </div>*@
                            @*<div class="toogleDivContent">*@
                            <iframe id="livePreview"></iframe>
                            @*</div>*@
                            @*</div>*@
                        </div>
                    </div>



                    @*<div class="splitter"></div>*@


                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newsletterSaveModel" tabindex="-1" role="dialog" aria-labelledby="modal-default-header" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content block ">
            <div class="modal-header">
                <h4 class="modal-title" id="renderSurveyModal-header">Save Newsletter</h4>
                <button id="btnModify" type="button" class="btn red margin-right-5 btn-success pull-right" onclick="Newsletter.saveNewsletterEditor(false)">Save</button>
                <button id="btnSave" type="button" class="btn red margin-right-5 btn-success pull-right" onclick="Newsletter.saveNewsletterEditor(true)">Save</button>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="block-divider"></div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        Title
                    </div>
                    <div class="col-md-10">
                        <div class="margin-bottom-5">
                            <input id="txtTemplateTitle" class="form-control input-sm" placeholder="Tile" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#mainDiv").resizable(
            // {
            //     autoHide: true,
            //     handles: 'e',
            //     resize: function (e, ui) {
            //         var parent = ui.element.parent();
            //         var remainingSpace = parent.width() - ui.element.outerWidth(),
            //             divTwo = ui.element.next(),
            //             divTwoWidth = (remainingSpace - (divTwo.outerWidth() - divTwo.width())) / parent.width() * 100 + "%";
            //         divTwo.width(divTwoWidth);
            //     },
            //     stop: function (e, ui) {
            //         var parent = ui.element.parent();
            //         ui.element.css(
            //             {
            //                 width: ui.element.width() / parent.width() * 100 + "%",
            //             });
            //     }
            // });
        });
    </script>
}