@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/Layouts/_NewsLetterLayout.cshtml";
}



<div class="card-body">
    <ul class="nav nav-tabs nav-tabs-highlight" id="Tabs">
        <li class="nav-item" id="tab-newsLetterUserTemplates" style="display:none;">
            <a href="#newsLetterUserTemplates" class="nav-link" data-toggle="tab" aria-expanded="true">
                User Defined Templates
                <span onclick="Layout.closeTab('newsLetterUserTemplates')" class="close tabCrossButton">×</span>
            </a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered ">
        <div id="nodataDiv" class="noDataRecord">
            <span>Please select an office.</span>
        </div>
        <div class="tab-pane fade" id="newsLetterUserTemplates">
            @Html.Partial("~/Views/NewsLetter/_UserDefinedNewsLetterPartial.cshtml")
        </div>
    </div>
</div>
<div>
    @Html.Partial("~/Views/NewsLetter/LoginPage/_PreDefinedNewsLetterPartial.cshtml")
</div>

<div class="modal fade" id="newsletterPreviewModal" tabindex="-1" role="dialog" aria-labelledby="modal-default-header" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content block">
            <div class="modal-header">
                <h4 class="modal-title" id="renderPublicSurveyModal-header">Preview</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="block-divider"></div>
            <div class="modal-body">
                <iframe id="editorPreview" class="iframeParent"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger margin-right-5 pull-right titleButtons" id="btnNewsletterPreviewModal">Close</button>
            </div>
        </div>
    </div>
</div>
@section styles{

    <link href="~/Resources/kendo/styles/kendo.common.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/kendo/styles/kendo.default.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/kendo/styles/kendo.default.mobile.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    @*<link href="~/Resources/css/FullScreenDialog.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />*@

    <link href="~/Resources/kendo/styles/kendo.common.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/kendo/styles/kendo.default.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/kendo/styles/kendo.default.mobile.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/css/FullScreenDialog.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
}

@section scripts{
    <script src="~/Resources/theme/js/vendor/datatables.net/js/datatables.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/Select-1.2.6/js/select.bootstrap.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    @*<script src="~/Scripts/NewsLetter/PreDefinedNewsLetter.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>*@
    <script src="~/Scripts/NewsLetter/PreDefinedTemplate.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Scripts/NewsLetter/UserDefinedNewsLetter.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/kendo/js/kendo.all.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Scripts/NewsLetter/UserNewsLetter.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
}
