@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SmsLayout.cshtml";
}

<!-- Theme JS files -->
<!-- Content area -->
<div class="content">

    <div class="row" id="reviewCount">
        <div id="rowDailySMS" class="col cardStart order-1">
            <div id="card-rowDailySMS" class="card bg-blue-400" style="zoom: 1;">
                <div class="card-body dashboardCard pt-1 pb-1">
                    <div class="d-flex cardHeading">
                        <h3 class="font-weight-semibold mb-0 font-variant-smallCaps">SMS Sent Today</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="remove" onclick="SMS.removeCard(this)" data-name="rowDailySMS"></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center cardContent">
                        <span id="dailySmsCount" class="font-weight-semibold mb-0 font-size-xs">0</span>
                    </div>
                    <div class="d-flex justify-content-end cardContent"></div>
                </div>
            </div>
        </div>
        <div id="rowDailyEmail" class="col cardStart order-2">
            <div id="card-rowDailyEmail" class="card bg-green-400" style="zoom: 1;">
                <div class="card-body dashboardCard pt-1 pb-1">
                    <div class="d-flex cardHeading">
                        <h3 class="font-weight-semibold mb-0 font-variant-smallCaps">Email Sent Today</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="remove" onclick="SMS.removeCard(this)" data-name="rowDailyEmail"></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center cardContent">
                        <span id="dailyEmailCount" class="font-weight-semibold mb-0 font-size-xs">0</span>
                    </div>
                    <div class="d-flex justify-content-end cardContent"></div>
                </div>
            </div>
        </div>
        <div id="rowDailyConfirmation" class="col cardStart order-3">
            <div id="card-rowDailyConfirmation" class="card bg-brown-400" style="zoom: 1;">
                <div class="card-body dashboardCard pt-1 pb-1">
                    <div class="d-flex cardHeading">
                        <h3 class="font-weight-semibold mb-0 font-variant-smallCaps">Confirmation Sent Today</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="remove" onclick="SMS.removeCard(this)" data-name="rowDailyConfirmation"></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center cardContent">
                        <span id="dailyConfirmationCount" class="font-weight-semibold mb-0 font-size-xs">0</span>
                    </div>
                    <div class="d-flex justify-content-end cardContent"></div>
                </div>
            </div>
        </div>
        <div id="drowDailyRecall" class="col cardStart order-4">
            <div id="card-drowDailyRecall" class="card bg-teal-400" style="zoom: 1;">
                <div class="card-body dashboardCard pt-1 pb-1">
                    <div class="d-flex cardHeading">
                        <h3 class="font-weight-semibold mb-0 font-variant-smallCaps">Recall Requested Today</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="remove" onclick="SMS.removeCard(this)" data-name="drowDailyRecall"></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center cardContent">
                        <span id="drowDailyRecall" class="font-weight-semibold mb-0 font-size-xs">0</span>
                    </div>
                    <div class="d-flex justify-content-end cardContent"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="rowSelection">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-white header-elements-inline">
                    <div class="form-group">

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" id="barChart" class="form-check-input" onclick="SMS.SelectedRadio(1);" name="radio-unstyled-inline-left" checked>
                                <h6 class="card-title font-variant-smallCaps">Bar Chart</h6>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" id="lineChart" class="form-check-input" onclick="SMS.SelectedRadio(2);" name="radio-unstyled-inline-left">
                                <h6 class="card-title font-variant-smallCaps">Line Chart</h6>
                            </label>
                        </div>
                    </div>

                    <div class="header-elements">
                        <div class="list-icons">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="chart-5"></div>
                            <div id="chart-4"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="card" id="reviewCard" style="display:none">
                <div class="card-header bg-white  header-elements-inline">
                    <h5 class="card-title font-variant-smallCaps">Appointments</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                </div>
                <table class="table datatable-basic" id="AppointmentTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Appointment Date </th>
                            <th>Response</th>
                            <th>SMS Send Date</th>
                            <th>Email Send Date</th>
                        </tr>
                    </thead>
                    @*<tbody id="tblBody"></tbody>*@
                </table>
            </div>


        </div>

    </div>
</div>
<!-- /content area -->
@section scripts{

    <script src="~/Resources/Limitless/global_assets/js/plugins/visualization/dimple/dimple.min.js"></script>
    <script src="~/Resources/Vendor/DataTable/jquery.dataTables.min.js"></script>
    <link href="~/Resources/sms.css" rel="stylesheet" />

    <script>
    $(function () {


        var startDate = ($('#dashboardCalendar').data('daterangepicker').startDate._d.getMonth()) + "/" + $('#dashboardCalendar').data('daterangepicker').startDate._d.getDate() + "/" + $('#dashboardCalendar').data('daterangepicker').startDate._d.getFullYear();
        var endDate = ($('#dashboardCalendar').data('daterangepicker').endDate._d.getMonth() + 1) + "/" + $('#dashboardCalendar').data('daterangepicker').endDate._d.getDate() + "/" + $('#dashboardCalendar').data('daterangepicker').endDate._d.getFullYear();

        var officeId = '@ViewBag.Office_Sequence';
        if (officeId != null && officeId != "") {
            $('#officedropdown').hide();

            var officeName = '@ViewBag.OfficeName';
            $('#officeName').empty();
            $('#officeName').append(officeName);
            $('#sideContent').hide();
            $('#topContent').hide();

            $('#officeName').show();
            SMS.loadReviews(officeId, startDate, endDate);
            $('#reviewCard').show();
           // SMS.LoadAppointments(officeId, startDate, endDate);

        } else {
            SMS.loadOfficeDropdown();
           // $('#officeName').hide();
            $('#sideContent').show();
            $('#topContent').show();
        }
        SMS.CalendarSetup("dashboardCalendar");
        $('#dashboardCalendar').on('apply.daterangepicker', function (ev, picker) {
            if (officeId != null && officeId != "") {
                SMS.loadReviews(officeId, picker.startDate.format('MM/DD/YYYY'), picker.endDate.format('MM/DD/YYYY'));
                $('#officedropdown').hide();
               // $('#officeName').show();

            } else {
              //  $('#officeName').hide();
                $('#officedropdown').show();
                var selectedOffices = $("#officedropdown").val();
                var index = selectedOffices.indexOf('-1');

                if (index > -1)
                    selectedOffices.splice(index, 1);

                if (selectedOffices.length > 0) {
                    SMS.loadReviews(selectedOffices.join(), picker.startDate.format('MM/DD/YYYY'), picker.endDate.format('MM/DD/YYYY'));
                } else {
                    SMS.Reset();
                }
            }
        });
        $("#officedropdown").change(function () {

            var selectedOffices = $("#officedropdown").val();
            var index = selectedOffices.indexOf('-1');
            var startDate = ($('#dashboardCalendar').data('daterangepicker').startDate._d.getMonth() + 1) + "/" + $('#dashboardCalendar').data('daterangepicker').startDate._d.getDate() + "/" + $('#dashboardCalendar').data('daterangepicker').startDate._d.getFullYear();
            var endDate = ($('#dashboardCalendar').data('daterangepicker').endDate._d.getMonth() + 1) + "/" + $('#dashboardCalendar').data('daterangepicker').endDate._d.getDate() + "/" + $('#dashboardCalendar').data('daterangepicker').endDate._d.getFullYear();

            if (index > -1)
                selectedOffices.splice(index, 1);

            if (selectedOffices.length > 0) {
                SMS.loadReviews(selectedOffices.join(), startDate, endDate);
            } else {
                $("#tblBody").empty();
                $('#rowLineChart').hide();
                $('#rowBarChart').hide();

                $("#dailySmsCount").empty();
                $('#dailySmsCount').append(0);
                $("#dailyEmailCount").empty();
                $('#dailyEmailCount').append(0);
                $("#dailyConfirmationCount").empty();
                $('#dailyConfirmationCount').append(0);
                $("#dailyRecallCount").empty();
                $('#dailyRecallCount').append(0);

            }


        });

    });



    </script>
}


