
.vs/LTCDashboard/DesignTimeBuild/.dtbcache
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide
LTC_Dashboard/bin/Release/netcoreapp2.2/appsettings.json
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.csprojAssemblyReference.cache
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTCDataManager/obj/Release/netcoreapp2.2/LTCDataManager.csprojAssemblyReference.cache
LTCDataModel/obj/Release/netcoreapp2.2/LTCDataModel.csprojAssemblyReference.cache
.vs/LTCDashboard/DesignTimeBuild/.dtbcache
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide-shm
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide-wal
LTC_Dashboard/bin/Release/netcoreapp2.2/appsettings.json
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.csprojAssemblyReference.cache
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTCAdminPortal/obj/Release/netcoreapp2.2/LTCAdminPortal.csprojAssemblyReference.cache
LTCDataManager/obj/Release/netcoreapp2.2/LTCDataManager.csprojAssemblyReference.cache
LTCDataModel/obj/Release/netcoreapp2.2/LTCDataModel.csprojAssemblyReference.cache
LTCOfficePortal/obj/Release/netcoreapp2.2/LTCOfficePortal.csprojAssemblyReference.cache
