
.vs/
LTC_Dashboard/bin/
LTC_Dashboard/obj/
LTCOfficePortal/bin/
LTCOfficePortal/obj/
LTCAdminPortal/bin/
LTCAdminPortal/obj/
LTCDataManager/bin/
LTCDataManager/obj/
LTCDataModel/bin/
LTCDataModel/obj/
