
.vs/LTCDashboard/DesignTimeBuild/.dtbcache
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide
LTC_Dashboard/bin/Release/netcoreapp2.2/appsettings.json
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.csprojAssemblyReference.cache
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTCDataManager/obj/Release/netcoreapp2.2/LTCDataManager.csprojAssemblyReference.cache
LTCDataModel/obj/Release/netcoreapp2.2/LTCDataModel.csprojAssemblyReference.cache
.vs/LTCDashboard/DesignTimeBuild/.dtbcache
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide-shm
.vs/LTCDashboard/v16/Server/sqlite3/storage.ide-wal
LTC_Dashboard/bin/Release/netcoreapp2.2/appsettings.json
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/bin/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.csprojAssemblyReference.cache
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.dll
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.pdb
LTCAdminPortal/obj/Release/netcoreapp2.2/LTCAdminPortal.csprojAssemblyReference.cache
LTCDataManager/obj/Release/netcoreapp2.2/LTCDataManager.csprojAssemblyReference.cache
LTCDataModel/obj/Release/netcoreapp2.2/LTCDataModel.csprojAssemblyReference.cache
LTCOfficePortal/obj/Release/netcoreapp2.2/LTCOfficePortal.csprojAssemblyReference.cache
LTCOfficePortal/obj/Release/netcoreapp2.2/LTCOfficePortal.assets.cache
LTCOfficePortal/obj/project.assets.json
LTCOfficePortal/obj/LTCOfficePortal.csproj.nuget.g.targets
LTCOfficePortal/obj/LTCOfficePortal.csproj.nuget.g.props
LTCOfficePortal/obj/LTCOfficePortal.csproj.nuget.cache
LTCDataModel/obj/Release/netcoreapp2.2/LTCDataModel.assets.cache
LTCDataModel/obj/project.assets.json
LTCDataModel/obj/LTCDataModel.csproj.nuget.g.targets
LTCDataModel/obj/LTCDataModel.csproj.nuget.g.props
LTCDataModel/obj/LTCDataModel.csproj.nuget.cache
LTCDataManager/obj/Release/netcoreapp2.2/LTCDataManager.assets.cache
LTCDataManager/obj/project.assets.json
LTCDataManager/obj/LTCDataManager.csproj.nuget.g.targets
LTCDataManager/obj/LTCDataManager.csproj.nuget.g.props
LTCDataManager/obj/LTCDataManager.csproj.nuget.cache
LTCAdminPortal/obj/Release/netcoreapp2.2/LTCAdminPortal.assets.cache
LTCAdminPortal/obj/project.assets.json
LTCAdminPortal/obj/LTCAdminPortal.csproj.nuget.g.targets
LTCAdminPortal/obj/LTCAdminPortal.csproj.nuget.g.props
LTCAdminPortal/obj/LTCAdminPortal.csproj.nuget.cache
LTC_Dashboard/obj/Release/netcoreapp2.2/LTC_Dashboard.assets.cache
LTC_Dashboard/obj/project.assets.json
LTC_Dashboard/obj/LTC_Dashboard.csproj.nuget.g.targets
LTC_Dashboard/obj/LTC_Dashboard.csproj.nuget.g.props
LTC_Dashboard/obj/LTC_Dashboard.csproj.nuget.cache
