.card-body {
    text-align: center;
}

.card-count {
    font-size: 40px !important;
}

.card-body span {
    font-size: 26px;
}

.card-header {
    padding: 10px;
}

#smallHeading1 {
    font-size: 12px;
    margin-bottom: 0px;
    position: absolute;
    left: 150px;
}

#smallHeading2 {
    font-size: 12px;
    margin-bottom: 0px;
    position: absolute;
    left: 120px;
}

#smallHeading3 {
    font-size: 12px;
    margin-bottom: 0px;
    position: absolute;
    left: 170px;
}

.smallFont {
    font-size: 13px !important;
}

.card-body {
    padding: 10px
}

.c3-chart-arcs-title {
    font-size: 12px;
}
