
@{
    ViewData["Title"] = "FormSaved";
    Layout = "~/Views/Shared/Layouts/_DashboardLayout.cshtml";
}

    <div class="content d-flex justify-content-center align-items-center">


        <div class="login-form" method="post">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <h5 class="mb-0 text-danger"> Form has been saved.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
