
@{
    ViewData["Title"] = "ViewForms";
    Layout = "~/Views/Shared/Layouts/_DashboardLayout.cshtml";
}
<style>
    .control-label {
        margin-bottom: 0px !important;
    }
    .form-group {
        margin-bottom: 10px;
    }

    .table-responsive {
        overflow-x: hidden !important;
    }

    .dataTables_wrapper {
        display: block !important;
    }

    .viewFormTable_wrapper {
        display: block !important;
    }

    .form-check-input {
        position: center;
        margin-top: 0px;
        margin-left: 0px;
    }

    .select2-container {
        z-index: 20001 !important;
    }

    

    #viewFormTable_length select {
        margin-left: 5px;
    }
</style>
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Entries</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <button type="button" id="btnCreateForm" class="btn btn-primary" onclick="HomeView.selectSubscriber();">Add Entry</button>
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <br />
            <fieldset class="mb-3">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-lg" id="viewFormTable"></table>
                </div>

            </fieldset>

        </div>
    </div>
    <!-- /form inputs -->

</div>
<div id="div_template" style="display: none">
    <div id="div_grid_actions">
        <div class="btn-group">

            <div class="list-icons">
                <div class="dropdown">
                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" onclick="HomeView.OpenFormList(__prm_subid__,__prm_formid__);" class="dropdown-item"><i class="icon-pencil7"></i> Edit</a>
                        <a href="#" onclick="HomeView.OpenFormViewList(__prm_subid__,__prm_formid__);" data-target="#modifySubscription" data-toggle="modal" class="dropdown-item"><i class="icon-pencil7"></i> View</a>
                        <a href="#" onclick="HomeView.DeleteForm(__prm_id__);" class="dropdown-item"><i class="icon-x"></i> Delete</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="entryModel" class="modal fade" tabindex="-1" data-width="300" data-keyboard="false" role="dialog" aria-labelledby="entryModel" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">
                <br />

                <div class="row">
                    <div class="col-md-12">
                        
                            
                            <div class="form-group">

                                <div class="col-md-6">
                                    <select id="subscriberId" class="form-control" required>
                                    </select>
                                    <br />
                                </div>
                            </div>

                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                       


                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">

                                <select id="formId" class="form-control" required>
                                    
                                </select>
                                <br />
                            </div>
                        </div>

                           
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                       
                            <hr>
                            <div class="form-group">
                               
                                <div class="col-md-12">
                                    <label class="control-label">If you want to add new [subscriber], </label> <a href="#" onclick="HomeView.newSubscription();">Click Here</a>

                                </div>
                            </div>
                         
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                <button type="button" onclick="HomeView.OpenForm();" class="btn btn-primary">Add</button>
            </div>

        </div>
    </div>
</div>
<div id="subscriberModel" class="modal fade" tabindex="-1" data-width="600" data-keyboard="false" role="dialog" aria-labelledby="subscriberModel" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">
                <h4 class="modal-title">Subscriber Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">



                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    First Name

                                </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                            </div>



                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="lname" name="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Middle Name</label>
                                    <div class="col-md-9">
                                        <input type="text" id="mname" class="form-control" name="mname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Salutation</label>
                                    <div class="col-md-9">
                                        <select id="ddlSalutation" class="form-control" required>
                                            <option id="0" value="-1">Please select</option>
                                            <option id="Dr" value="Dr">Dr</option>
                                            <option id="Miss" value="Miss">Miss</option>
                                            <option id="Mr" value="Mr">Mr</option>
                                            <option id="Mrs" value="Mrs">Mrs</option>
                                            <option id="Ms" value="Ms">Ms</option>
                                            <option id="Mstr" value="Miss">Mstr</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" id="email" class="form-control" name="email">
                                    </div>
                                </div>

                                <input type="hidden" id="IdValue" value="0">



                            </div>
                            <hr>



                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                <button type="button" id="btnSaveSub" onclick="HomeView.saveSubscription();" class="btn btn-primary">Save</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Resources/theme/js/vendor/datatables/jquery.dataTables.min.js"></script>

    <script src="~/Resources/theme/js/vendor/datatables.net/js/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>
    <script src="~/ScriptsView/Home.js"></script>
    <script src="~/Resources/Limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Resources/theme/js/vendor/select2/select2.full.min.js"></script>
    <script src="~/ScriptsView/ViewForm.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            HomeView.LoadAllSubscribers();
            HomeView.LoadAllTypes();
            $("#subscriberId").select2();
            $("#formId").select2();

        });
    </script>
}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
