@page
@model LoginModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LTC-Dental</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/global_assets/css/icons/icomoon/styles.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/bootstrap.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/bootstrap_limitless.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/layout.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/components.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/colors.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Vendor/bootstrap-select-1.13.7/css/bootstrap-select.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/Limitless/global_assets/css/icons/fontawesome/styles.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/Limitless/Site.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    @*<script src="~/Resources/Limitless/global_assets/js/main/jquery.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>*@

    <script type="text/javascript" src="~/Resources/theme/js/vendor/jquery/jquery.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script type="text/javascript" src="~/Resources/theme/js/vendor/jquery/jquery-ui.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/Limitless/global_assets/js/main/bootstrap.bundle.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/Limitless/global_assets/js/plugins/loaders/blockui.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/Vendor/bootstrap-select-1.13.7/js/bootstrap-select.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/datatables.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/Select-1.2.6/js/select.bootstrap.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>


    <script src="~/Resources/theme/js/vendor/ResizePanel/Resize.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Resources/Limitless/global_assets/js/plugins/forms/styling/uniform.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>

    <script src="~/Resources/Limitless/layout_1/LTR/default/full/assets/js/app.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/Limitless/global_assets/js/demo_pages/login.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>


    <script src="~/Resources/FormDesigner/assets/js/form-builder.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/FormDesigner/assets/js/form-render.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <!-- /theme JS files -->
</head>
<body>
    <div class="page-content login-coverFix">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <div id="loginDiv" class="login-form wmin-sm-400">
                    <div class="card mb-0">
                        <div class="tab-content card-body">
                            <form id="loginform" method="post">
                                <input type="hidden" name="returnurl" id="returnurl" value="" />
                                <div class="tab-pane fade show active">
                                    <div class="text-center mb-3">
                                        <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                        <h5 class="mb-0">Login to your account</h5>
                                        <span class="d-block text-muted">Your credentials</span>
                                    </div>
                                    <div class="form-group form-group-feedback form-group-feedback-left">

                                        <input asp-for="Input.Email" class="form-control" placeholder="Username/Email" />
                                        <div class="form-control-feedback">
                                            <i class="icon-user text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-feedback form-group-feedback-left">
                                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                        <div class="form-control-feedback">
                                            <i class="icon-lock2 text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        <button class="btn btn-danger btn-block" type="button" onclick="Login.hideLogin();">Cancel</button>
                                    </div>
                                    <span class="form-text text-center text-muted">&copy; Logic Tech Corp. 2018. All rights reserved.</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/SharedJS/Layout.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var action = Common.getParameterByName('action');
            if (action != null) {
                if (action == 'autoclose') {
                    window.close();
                }
            }
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>