<div id="divReportList" class="row card">
    <div class="col-md-12">
        <div class="block block-condensed noWhite">
            <div class="block-content">
                <table id="tblSurveyReportForms" class="table table-striped table-bordered datatable-extended">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Survey Description</th>
                        <th>Survey Provided</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>