@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/Layouts/_SurveyLayout.cshtml";
}

<link href="~/Resources/FormDesigner/assets/css/RateYo/RateYo.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />

<div class="card-body">
    <ul class="nav nav-tabs nav-tabs-highlight " id="Tabs">
        <li id="tab-surveyDesigner" class="nav-item" style="display:none;">
            <a href="#surveyDesigner" class="nav-link" data-toggle="tab" aria-expanded="true">
                Survey Designer
                <span onclick="Layout.closeTab('surveyDesigner')" class="close tabCrossButton">×</span>
            </a>
        </li>
        <li id="tab-surveys" class="nav-item" style="display:none;">
            <a href="#surveys" class="nav-link" data-toggle="tab" aria-expanded="false">
                Surveys
                <span onclick="Layout.closeTab('surveys')" class="close tabCrossButton">×</span>
            </a>
        </li>
        <li id="tab-reports" class="nav-item" style="display:none;">
            <a href="#reports" class="nav-link" data-toggle="tab" aria-expanded="false">
                Reports
                <span onclick="Layout.closeTab('reports')" class="close tabCrossButton">×</span>
            </a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered">
        <div id="nodataDiv" class="noDataRecord">
            <span>Please select an office.</span>
        </div>
        <div class="tab-pane fade show fade" id="surveyDesigner">
            @Html.Partial("~/views/survey/_PrivateSurveyPartial.cshtml")
        </div>
        <div class="tab-pane fade" id="surveys">
            @Html.Partial("~/views/survey/_SurveysPartial.cshtml")
        </div>
        <div class="tab-pane fade" id="reports">
            @Html.Partial("~/views/survey/_ReportPartial.cshtml")
        </div>
    </div>
</div>


@section scripts{

    <script src="~/Resources/theme/js/vendor/datatables.net/js/datatables.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/Select-1.2.6/js/select.bootstrap.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>

    <script src="~/Resources/FormDesigner/assets/js/form-builder.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/FormDesigner/assets/js/form-render.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>*@


    <script src="~/Scripts/Survey/PrivateSurvey.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Scripts/Survey/SurveyAnswers.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Scripts/Survey/Report.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/FormDesigner/assets/js/Rateyo/jquery.rateyo.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
}
