@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/Layouts/_RenderSurveyLayout.cshtml";

    string os = "0", fid = "0", pid = "0";
    os = HttpContextAccessor.HttpContext.Request.Query["os"].ToString();
    pid = HttpContextAccessor.HttpContext.Request.Query["pi"].ToString();
    fid = HttpContextAccessor.HttpContext.Request.Query["fi"].ToString();

    //if (HttpContextAccessor.HttpContext.Request.Query["os"] != null)
    //{
    //    os = HttpContextAccessor.HttpContext.Request.Query["os"].ToString();
    //}
    //if (HttpContextAccessor.HttpContext.Request.Query["pi"] != null)
    //{
    //    pid = HttpContextAccessor.HttpContext.Request.Query["pi"].ToString();
    //}
    //if (HttpContextAccessor.HttpContext.Request.Query["fi"] != null)
    //{
    //    fid = HttpContextAccessor.HttpContext.Request.Query["fi"].ToString();
    //}
}

<link href="~/Resources/FormDesigner/assets/css/RateYo/RateYo.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <input type="hidden" name="hid_os" id="hid_os" value="@os" />
        <input type="hidden" name="hid_fid" id="hid_fid" value="@fid" />
        <input type="hidden" name="hid_pid" id="hid_pid" value="@pid" />
        <div id="render-container" class="renderingSurveyStyling">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type='button' class="btn btn-success pull-right" value="Submit form" onclick="SurveyRender.saveRendering()" />
    </div>
</div>

<br />
@section scripts{

    <script src="~/Resources/theme/js/vendor/datatables.net/js/datatables.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/Select-1.2.6/js/select.bootstrap.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/FormDesigner/assets/js/form-render.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/FormDesigner/assets/js/Rateyo/jquery.rateyo.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Scripts/Survey/SurveyRender.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>


}
