
@{
    ViewData["Title"] = "ViewForms";
    Layout = "~/Views/Shared/Layouts/_DashboardLayout.cshtml";
}
<style>
    .table-responsive {
        overflow-x: hidden !important;
    }

    .form-check-input {
        position: center;
        margin-top: 0px;
        margin-left: 0px;
    }
</style>
<div class="content">

    <!-- Form inputs -->

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Subscribers</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <button type="button" id="btnCreate" class="btn btn-primary" onclick="Subscription.newSubscription();">Add Subscriber</button>
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>

        <div class="card-body">
            <br />
            <fieldset class="mb-3">
                <div class="table-responsive">
                    <table id="subscriberTable" class="table table-bordered table-striped table-lg"></table>
                </div>
 
            </fieldset>

        </div>
    </div>
    <!-- /form inputs -->

</div>
<div id="div_template" style="display:none">
    <div id="div_grid_actions">
        <div class="btn-group">

            <div class="list-icons">
                <div class="dropdown">
                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" onclick="Subscription.modifySubscription('@Url.Action("GetDetail", "Subscribers",new { Id= "__prm_id__" })');" data-target="#modifySubscription" data-toggle="modal" class="dropdown-item"><i class="icon-pencil7"></i> Modify</a>
                        <a href="#" onclick="Subscription.deleteSubscription('@Url.Action("Delete", "Subscribers",new { Id="__prm_id__" })');" class="dropdown-item"><i class="icon-x"></i> Delete</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="subscriberModel" class="modal fade" tabindex="-1" data-width="600" data-keyboard="false" role="dialog" aria-labelledby="subscriberModel" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog  modal-full">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">
                <h4 class="modal-title">Subscriber Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">



                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    First Name

                                </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fname" name="fname">
                                </div>
                            </div>



                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="lname" name="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Middle Name</label>
                                    <div class="col-md-9">
                                        <input type="text" id="mname" class="form-control" name="mname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Salutation</label>
                                    <div class="col-md-9">
                                        <select id="ddlSalutation" class="form-control" required>
                                            <option id="0" value="-1">Please select</option>
                                            <option id="Dr" value="Dr">Dr</option>
                                            <option id="Miss" value="Miss">Miss</option>
                                            <option id="Mr" value="Mr">Mr</option>
                                            <option id="Mrs" value="Mrs">Mrs</option>
                                            <option id="Ms" value="Ms">Ms</option>
                                            <option id="Mstr" value="Miss">Mstr</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" id="email" class="form-control" name="email">
                                    </div>
                                </div>

                                <input type="hidden" id="IdValue" value="0">


                                @*<div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-9">
                    <div class="mt-radio-inline">
                        <label class="mt-radio">
                            <input type="radio" name="SubscriptionStatus" id="rbSubscribe" value="Subscribed" checked> Subscribe
                            <span></span>
                        </label>
                        <label class="mt-radio">
                            <input type="radio" name="SubscriptionStatus" id="rbUnSubscribe" value="UnSubscribed" checked> Unsubscribe
                            <span></span>
                        </label>
                    </div>

                </div>
            </div>
        </div>*@
                            </div>
                            <hr>



                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                <button type="button" onclick="Subscription.saveSubscription();" class="btn btn-primary">Save</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Resources/theme/js/vendor/datatables/jquery.dataTables.min.js"></script>

    <script src="~/Resources/theme/js/vendor/datatables.net/js/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>
    <script src="~/ScriptsView/Subscribers.js"></script>

}

