@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/Layouts/_FormLayout.cshtml";
}

<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.css">

<div class="card-body">
    <ul class="nav nav-tabs nav-tabs-highlight" id="Tabs">
        <li class="nav-item" id="tab-formDesigner" style="display:none;">
            <a href="#formDesigner" class="nav-link" data-toggle="tab" aria-expanded="true">
                Form Designer
                <span onclick="Layout.closeTab('formDesigner')" class="close tabCrossButton">×</span>
            </a>
        </li>
        <li class="nav-item" id="tab-forms" style="display:none;">
            <a href="#forms" class="nav-link" data-toggle="tab" aria-expanded="false">
                Forms
                <span onclick="Layout.closeTab('forms')" class="close tabCrossButton">×</span>
            </a>
        </li>
        <li class="nav-item" id="tab-formReports" style="display:none;">
            <a href="#formReports" class="nav-link" data-toggle="tab" aria-expanded="false">
                Reports
                <span onclick="Layout.closeTab('formReports')" class="close tabCrossButton">×</span>
            </a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered">
        <div id="nodataDiv" class="noDataRecord">
            <span>Please select an office.</span>
        </div>
        <div class="tab-pane fade" id="formDesigner">
            @Html.Partial("~/Views/Form/_PrivateFormPartial.cshtml")
        </div>
        <div class="tab-pane fade " id="forms">
            @Html.Partial("~/Views/Form/_FormsPartial.cshtml")
        </div>
        <div class="tab-pane fade " id="formReports">
            @Html.Partial("~/Views/Form/_FormReportPartial.cshtml")
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Resources/theme/js/vendor/datatables.net/js/datatables.min.js"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/Select-1.2.6/js/select.bootstrap.min.js"></script>
    <script src="~/Resources/FormDesigner/assets/js/form-builder.min.js"></script>
    <script src="~/Resources/FormDesigner/assets/js/form-render.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.js"></script>

    <script type="text/javascript"></script>
    <script src="~/Scripts/Form/PrivateForm.js"></script>
    <script src="~/Scripts/Form/FormAnswers.js"></script>
    <script src="~/Scripts/Form/Report.js"></script>
}


@*add .cb-wrap [class*=" icon-"]:before,.cb-wrap [class^=icon-]:before in the designer css to fix icons*@

