@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/Layouts/_RenderFormLayout.cshtml";
}

<link href="~/Resources/FormDesigner/assets/css/RateYo/RateYo.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@*<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.css">*@
@{
    string os = "0", fid = "0", pid = "0";
    os = HttpContextAccessor.HttpContext.Request.Query["os"].ToString();
    pid = HttpContextAccessor.HttpContext.Request.Query["pi"].ToString();
    fid = HttpContextAccessor.HttpContext.Request.Query["fi"].ToString();

    //if (HttpContextAccessor.HttpContext.Request.Query["os"].ToString() != null)
    //{
    //    os = HttpContextAccessor.HttpContext.Request.Query["os"].ToString();
    //}
    //if (HttpContextAccessor.HttpContext.Request.Query["pi"].ToString() != null)
    //{
    //    pid = HttpContextAccessor.HttpContext.Request.Query["pi"].ToString();
    //}
    //if (HttpContextAccessor.HttpContext.Request.Query["fi"].ToString() != null)
    //{
    //    fid = HttpContextAccessor.HttpContext.Request.Query["fi"].ToString();
    //}
}
@*<form id="renderFormForm" method="post" action="@Url.Action("SaveAnswer","Form")">*@
<div class="row">
    <div class="col-md-12">
        <input type="hidden" name="hid_os" id="hid_os" value="@os" />
        <input type="hidden" name="hid_fid" id="hid_fid" value="@fid" />
        <input type="hidden" name="hid_pid" id="hid_pid" value="@pid" />
        <div id="render-container" class="renderingFormStyling">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type='button' class="btn btn-success pull-right" value="Submit form" onclick="FormRender.saveRendering()" />
    </div>
</div>
@*</form>*@

<br />
@section scripts{
    @*<script src="~/Resources/theme/js/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Resources/theme/js/vendor/datatables/dataTables.bootstrap.min.js"></script>*@

    <script src="~/Resources/theme/js/vendor/datatables.net/js/datatables.min.js"></script>
    <script src="~/Resources/theme/js/vendor/datatables.net/js/Select-1.2.6/js/select.bootstrap.min.js"></script>
    @*<script src="~/Resources/FormDesigner/assets/js/form-builder.min.js"></script>*@
    <script src="~/Resources/FormDesigner/assets/js/form-render.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.js"></script>*@
    <script src="~/Resources/FormDesigner/assets/js/Rateyo/jquery.rateyo.min.js"></script>
    <script src="~/Scripts/Form/FormRender.js"></script>

    @*<script language="javascript" type="text/javascript">
            function submitForm() {
                $("#renderFormForm").submit();
            }
        </script>*@
}
