<div class="row card">
    <div class="col-md-12">
        <div class="block block-condensed noWhite">
            <div class="block-content">
                <table id="tblForms" class="table datatable-basic table-striped datatable-extended">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Patient Number</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="renderFormsModal" tabindex="-1" role="dialog" aria-labelledby="modal-default-header" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content block minModelSize">
            <div class="modal-header">
                <h4 class="modal-title" id="renderFormsModal-header">Rendering View</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="block-divider"></div>
            <div class="modal-body">
                <div id="renderForms">
                </div>
            </div>
        </div>
    </div>
</div>