<div id="divReportList" class="row card">
    <div class="col-md-12">
        <div class="block block-condensed noWhite">
            <div class="block-content">
                <table id="tblFormReportForms" class="table datatable-basic table-striped datatable-extended">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Form Description</th>
                        <th>Form Provided</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>