@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/Layouts/_ReportLayout.cshtml";
}
<!-- Theme JS files -->
<script src="~/Resources/Limitless/global_assets/js/plugins/visualization/c3/c3.min.js"></script>
<script src="~/Resources/Limitless/global_assets/js/plugins/visualization/dimple/dimple.min.js"></script>

<link href="~/Resources/Report.css" rel="stylesheet" />


<!-- Content area -->
<div class="content">

    <div class="row" id="reviewCount">

    </div>

    <div class="row">
        <div class="col-md-4" id="rowTotalReview" style="display:none">
            <div class="card">
                <div class="card-header  bg-white  header-elements-inline">
                    <h6 class="card-title font-variant-smallCaps">Total Review Ratings</h6><h6 id="smallHeading1"></h6>
                    <div class="header-elements">
                        <div class="list-icons">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="chart-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="rowAverageRating" style="display:none">
            <div class="card">
                <div class="card-header bg-white header-elements-inline">
                    <h6 class="card-title font-variant-smallCaps">Average Ratings</h6><h6 id="smallHeading2"></h6>
                    <div class="header-elements">
                        <div class="list-icons" id="dvAverageRatings">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="chart-3"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="display:none" id="rowNewBySource">
            <div class="card">
                <div class="card-header bg-white header-elements-inline">
                    <h6 class="card-title font-variant-smallCaps">Total Reviews by Source</h6><h6 id="smallHeading3"></h6>
                    <div class="header-elements">
                        <div class="list-icons">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="chart-2"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="rowLineChart" style="display:none">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-white header-elements-inline">
                    <h6 class="card-title font-variant-smallCaps">Total Average Ratings by Source</</h6>
                    <div class="header-elements">
                        <div class="list-icons">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="chart-4"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" id="rowBarChart" style="display:none">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-white header-elements-inline">
                    <h6 class="card-title font-variant-smallCaps">New Reviews by Source</h6>
                    <div class="header-elements">
                        <div class="list-icons">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="chart-5"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="card" id="reviewCard" style="display:none">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title  bg-white font-variant-smallCaps">Review</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                </div>
                <table class="table datatable-basic">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Review</th>
                            <th>Rating</th>
                            <th>Publisher</th>
                            @*<th class="text-center">Actions</th>*@
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                    </tbody>
                </table>
            </div>
            <!-- /basic datatable -->

        </div>

    </div>
</div>
<!-- /content area -->
<script>
    $(function () {
        $("#officedropdown").change(function () {

            var startDate = ($('#dashboardCalendar').data('daterangepicker').startDate._d.getMonth()+1) + "/" + $('#dashboardCalendar').data('daterangepicker').startDate._d.getDate() + "/" + $('#dashboardCalendar').data('daterangepicker').startDate._d.getFullYear();
            var endDate = ($('#dashboardCalendar').data('daterangepicker').endDate._d.getMonth() + 1) + "/" + $('#dashboardCalendar').data('daterangepicker').endDate._d.getDate() + "/" + $('#dashboardCalendar').data('daterangepicker').endDate._d.getFullYear();
            if ($('#officedropdown').val() != "Select an Office") {
                Report.loadReviews($('#officedropdown').val(), startDate, endDate);
                var str = "as of " + endDate;
                $("#smallHeading1").empty().append(str);
                $("#smallHeading2").empty().append(str);
                $("#smallHeading3").empty().append(str);
            }

        });

    });







</script>