@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_NewsletterLayout.cshtml";

}


<style>
    #tblParadigm_filter, #tblParadigm_info, #tblMarketing_filter, #tblMarketing_info {
        display: none;
    }

    .dotted, .k-in {
        white-space: nowrap;
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contentSpace {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .contentSpace::before, .contentSpace::after {
            width: 130px;
        }

    @@media (min-width: 768px) {
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 100%;
            text-align: center;
        }
    }

    @@media (min-width: 576px) {
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            max-width: 30%;
        }
    }

    @@media (min-width: 992px) {
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            max-width: 30%;
            text-align: center;
        }
    }

    @@media (min-width: 1200px) {
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            -ms-flex: 0 0 14.2857%;
            flex: 0 0 14.2857%;
            max-width: 14.2857%;
            text-align: center;
        }
    }

    .transparentBg {
        background-color: transparent;
    }

    .icon-checkmark-circle {
        margin-left: 1rem;
    }

    .truncate {
        white-space: nowrap;
        width: 185px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    .card-title {
        font-size: 15px !important;
    }

    .btn {
        font-size: 14px;
    }

    .dropdown-menu {
        font-size: 14px;
    }

    body {
        font-size: 13px !important;
    }
</style>


<div class="content">
    <div class="row">
        <div class="card" style="width:100%">
            <div class="card-header bg-white header-elements-inline">
                <h6 class="card-title"></h6>
                <div class="header-elements">
                    <div class="list-icons">
                        <input id="txtSearch" onkeyup="Newsletter.Search();" class="form-control" placeholder="Search ..." />
                        <button type="button" id="btnSelectOptions" class="btn btn-primary" onclick="Newsletter.userDefinedOptionChanged('create');">Create New Template</button>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="templateList" class="m-heading-1 border-green m-bordered">

                            <ul class="nav nav-tabs nav-tabs-top">
                                <li class="nav-item"><a href="#userDefinedTemplatesTab" onclick="javascript:Newsletter.clearTabSelection('user');" class="nav-link active" data-toggle="tab">Office Templates</a></li>
                                <li class="nav-item"><a href="#marketingTemplatesTab" onclick="javascript:Newsletter.clearTabSelection('marketing');" class="nav-link" data-toggle="tab">Marketing Templates</a></li>
                                <li class="nav-item"><a href="#SystemTemplatesTab" onclick="javascript:Newsletter.clearTabSelection('system');" class="nav-link" data-toggle="tab">Design</a></li>
                                <li class="nav-item"><a href="#SystemArticlesTab" onclick="javascript:Newsletter.clearTabSelection('article');" class="nav-link" data-toggle="tab">Articles</a></li>

                            </ul>
                            <div class="tab-content card">
                                <div class="tab-pane fade tiles fade show active" id="userDefinedTemplatesTab">
                                    <div class="col-lg-2 moveToTopRight">

                                    </div>
                                    <div id="userDefineTemplateList">
                                        <div class="card-body" style="margin-left: 50px;margin-right: 50px;">
                                            <div class="row">
                                                <div class="col-md-1" style="margin-top: 10px;">
                                                    <label>Type: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="ddlTemplatesTypes1" class="form-control" onchange="Newsletter.ddlTemplatesTypes1_OnChange()"></select>
                                                </div>



                                            </div>
                                            <table class="table datatable-basic" id="tblParadigm">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Category</th>
                                                        <th>Default</th>
                                                        <th>Modification Date</th>
                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane tiles horizontalScrollOnExpand" id="SystemTemplatesTab">
                                    <div class="col-lg-2 moveToTopRight">

                                    </div>
                                    <div id="SystemTemplateList">
                                        <div class="card-body" style="margin-left: 50px;margin-right: 50px;">

                                            <table class="table datatable" id="tblSystem">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th style="display: none">Category</th>
                                                        <th>Modification Date</th>

                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBodySystem"></tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane tiles horizontalScrollOnExpand" id="marketingTemplatesTab">
                                    <div class="col-lg-2 moveToTopRight">

                                    </div>
                                    <div id="marketingTemplateList">

                                        <button type="button" id="btnDeleteSelectOptions" class="btn btn-primary" style="float: right; margin-top: 15px; margin-right: 15px; margin-bottom: 15px; " disabled onclick="Newsletter.deleteSelectedNewsletters();">Delete</button>
                                        <div class="card-body" style="margin-left: 50px;margin-right: 50px;">
                                            <div class="row">
                                                <div class="col-md-1" style="margin-top: 10px;">
                                                    <label>Category: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="ddlCategoryArticle2" class="form-control" onchange="Newsletter.ddlArticleCategory2_OnChange();">
                                                    </select>
                                                </div>


                                            </div>

                                            <!-- /basic datatable -->
                                            <table class="table datatable-basic" id="tblMarketing">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Name</th>
                                                        <th>Modification Date</th>

                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBodyMarketing"></tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane tiles horizontalScrollOnExpand" id="SystemArticlesTab">
                                    <div class="col-lg-2 moveToTopRight">

                                    </div>
                                    <div id="SystemArticlesTabList">

                                        <div class="card-body" style="margin-left: 50px;margin-right: 50px;">
                                            <div class="row">
                                                <div class="col-md-1" style="margin-top: 10px;">
                                                    <label>Category: </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="ddlCategoryArticle" class="form-control" onchange="Newsletter.ddlArticleCategory_OnChange();">
                                                    </select>
                                                </div>

                                            </div>
                                            <table class="table datatable-basic" id="tblArticle">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Modification Date</th>

                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBodyArticle"></tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="previewNewsletterModel" class="modal fade" tabindex="-1" data-width="600" data-keyboard="false" role="dialog" aria-labelledby="previewNewsletterModel" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog  modal-full">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">
                <h4 class="modal-title">Preview</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body" style="height: calc(100vh - 200px);overflow: hidden;">


                <iframe id="previewContent" class="hide"></iframe>



            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
            </div>

        </div>
    </div>
</div>
<div id="previewArticleModel" class="modal fade" tabindex="-1" data-width="600" data-keyboard="false" role="dialog" aria-labelledby="previewArticleModel" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog  modal-full">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">
                <h4 class="modal-title">Preview</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body" style="height: calc(100vh - 200px);overflow: hidden;">


                <iframe id="previewArticleContent" class="hide"></iframe>



            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
            </div>

        </div>
    </div>
</div>
<div id="useArticle" class="modal" tabindex="-1" data-width="400" data-keyboard="false" role="dialog" aria-labelledby="useArticle" aria-hidden="true" data-backdrop="static">
    <div id="useArticleContainer">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Copy Template</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal" role="form">
                                <div>
                                    <div class="form-body" style="margin-top: 15px;">
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <input id="txtArticleTitle" class="form-control lead text-muted" placeholder="Enter the name of the new template" />
                                                <label class="text-muted" style="margin-top: 5px;margin-left: 15px;">Template will save under Marketing Templates</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <select id="ddlTemplatesTypes2" class="form-control lead text-muted" onchange="Newsletter.ddlTemplatesTypes_OnChange()"></select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:20px">
                    <button type="button" data-dismiss="modal" class="cancel btn btn-lg btn-default">Cancel</button>
                    <button type="button" class="confirm btn btn-lg btn-primary" id="btnSaveArticle" onclick="Newsletter.saveArticleTemplate()">Save</button>
                </div>


            </div>
        </div>

    </div>
</div>
<div id="moveArticle" class="modal" tabindex="-1" data-width="400" data-keyboard="false" role="dialog" aria-labelledby="moveArticle" aria-hidden="true" data-backdrop="static">
    <div id="moveArticleContainer">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal" role="form">
                                <div>
                                    <div class="form-body" style="margin-top: 15px;">
                                        <div class="form-group">
                                            <table class="table datatable-basic" id="tblMoveArticle">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBodyMoveArticle"></tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:20px">
                    <button type="button" data-dismiss="modal" class="cancel btn btn-lg btn-default">Cancel</button>

                </div>


            </div>
        </div>
    </div>


</div>
@Html.Partial("~/Views/Newsletter/_EditNewsletter.cshtml");
<div id="sendNewsletterModel" class="modal fade" tabindex="-1" data-width="400" data-keyboard="false" role="dialog" aria-labelledby="sendNewsletterModel" aria-hidden="true" data-backdrop="static">
    @Html.Partial("~/Views/Newsletter/_SendNewsletter.cshtml")
</div>
<div id="previewNewsletterModel1" class="modal fade" tabindex="-1" data-width="600" data-keyboard="false" role="dialog" aria-labelledby="previewNewsletterModel1" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog  modal-full">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">
                <h4 class="modal-title">Preview</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body" style=" height: calc(100vh - 200px);overflow: hidden;">


                <iframe id="editorPreview"></iframe>



            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
            </div>

        </div>
    </div>
</div>
<div id="dvHidden" style="display:none">
</div>

@section styles{

    <link href="~/Resources/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Resources/kendo/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Resources/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" />

}



@section scripts{
    <script>

        $('#dashBoard').removeClass("active");
        $('#subscriber').removeClass("active");
        $('#newsLetter').removeClass("active");
        $('#scheduledNewsLetters').removeClass("active");
        $('#newsLetter').addClass("active");




    </script>
    @*style="position: absolute; top: -9999px; left: -9999px;"*@
    <div id="dvManage">
        <div id="previewImage"></div>
        <div id="html-content-holder"></div>
    </div>
    <script src="~/ScriptsView/Newsletter.js"></script>
    <script src="~/Resources/kendo/js/kendo.all.min.js"></script>
    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
    <script id="treeview-template" type="text/kendo-ui-template">
        # if (!item.items) { #
        <a class='k-icon k-i-close-outline' onclick="Newsletter.DeleteImage('#= item.text #');" href='\#'></a>
        # } #
        #: item.text #
    </script>


}




