@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = null;
}

<div id="aboutModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">About</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Logic Tech Corp.</h5>
                <table>
                    <tr>
                        <td style="width:130px;">
                            <strong>
                                Compile Date:
                            </strong>
                        </td>
                        <td>@Configuration.GetSection("Configuration")["compileDate"]</td>
                    </tr>
                    <tr>
                        <td style="width:130px;">
                            <strong>
                                Compile Version:
                            </strong>
                        </td>
                        <td>@Configuration.GetSection("Configuration")["compileVersion"]</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>