@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LTC-Dental</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/global_assets/css/icons/icomoon/styles.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/bootstrap.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/bootstrap_limitless.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/layout.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/components.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Limitless/layout_1/LTR/default/full/assets/css/colors.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" type="text/css">
    <link href="~/Resources/Vendor/bootstrap-select-1.13.7/css/bootstrap-select.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/Limitless/global_assets/css/icons/fontawesome/styles.min.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <link href="~/Resources/Limitless/Site.css?v=@Configuration.GetSection("Configuration")["staticFileVersion"]" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    @*<script src="~/Resources/Limitless/global_assets/js/main/jquery.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>*@

    <script type="text/javascript" src="~/Resources/theme/js/vendor/jquery/jquery.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script type="text/javascript" src="~/Resources/theme/js/vendor/jquery/jquery-ui.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/Limitless/global_assets/js/main/bootstrap.bundle.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/Limitless/global_assets/js/plugins/loaders/blockui.min.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
   <!-- Theme JS files -->
  
    <script src="~/Resources/Limitless/layout_1/LTR/default/full/assets/js/app.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>
    <script src="~/Resources/Limitless/global_assets/js/demo_pages/login.js?v=@Configuration.GetSection("Configuration")["staticFileVersion"]"></script>


@RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>

