
@{
    Layout = null;
}

<div id="changePasswordModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>

                <button onclick="Layout.updatePassword();" name="btnUpdatePassword" id="btnUpdatePassword" class="btn btn-success margin-right-5 pull-right titleButtonsDefault ">Save</button>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="control-label">User Name / Email</label>
                            <input type="email" name="txtCurrentEmail" id="txtCurrentEmail" value="@User.Identity.Name" class="form-control disabled" readonly />
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="control-label">Current Password</label>
                            <input type="password" name="txtCurrentPassword" id="txtCurrentPassword" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <label class="control-label">New Password</label>
                            <input type="password" name="txtNewPassword" id="txtNewPassword" value="" class="form-control" />
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="control-label">Confirm Password</label>
                            <input type="password" name="txtConfirmPassword" id="txtConfirmPassword" value="" class="form-control" />
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
