@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/Layouts/_loginLayout.cshtml"; 
}
<div class="page-content login-coverFix">
    <!-- Main content -->
    <div class="content-wrapper">
        <div class="content d-flex justify-content-center align-items-center">
            <div class="login-form wmin-sm-400">
                <div class="card mb-0">
                    <div class="tab-content card-body">
                        <input type="hidden" name="returnurl" id="returnurl" value="" />
                        <div class="tab-pane fade show active">
                            <div class="text-center mb-3">
                                <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1" style="color: green;"></i>
                                <h5 class="mb-0">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</h5>
                            </div>
                            <span class="form-text text-center text-muted">&copy; Logic Tech Corp. 2018. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>