@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="login-form" method="post">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <h5 class="mb-0 text-danger"> You do not have access to this resource.</h5>
            </div>
        </div>
    </div>
</div>
