@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="login-form" method="post">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <h5 class="mb-0"> Thank you for confirming your email.</h5>
            </div>
        </div>
    </div>
</div>
