@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="login-form" method="post">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <h5 class="mb-0 text-danger"> This account has been locked out, please try again later.</h5>
            </div>
        </div>
    </div>
</div>
