@page
@model LoginModel

@using System.Collections.Specialized
@using System.Security.Claims
@using LTCDataManager.User
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@inject SignInManager<BusinessUserInfo> SignInManager
@inject UserManager<BusinessUserInfo> UserManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/Layouts/_loginLayout.cshtml";

    int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out int userId);
    int.TryParse(User.FindFirstValue("OfficeSequence"), out int officeSequence);

    var permissionList = gUserModuleManager.GetAllAuthenticationModuleByOfficeSequence(officeSequence);
}

<input id="lblErrorDashboard" type="hidden" value="@TempData["MenuErrorMessage"]" />

<div class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand">
        <a href="javascript:;" class="d-inline-block">
            <span style="color: white;
                        font-family: 'Open Sans', sans-serif;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1;
                        position: relative;
                        margin-top: 12px;">
                Logic Tech Corp
            </span>
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <span class="badge ml-md-3 mr-md-auto">&nbsp;</span>
        <ul class="navbar-nav">
          
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown" onclick="Login.showLogin();">
                        <i class="icon-user"></i> Login
                        <span class="d-md-none ml-2"></span>
                    </a>
                </li>
           
        </ul>
    </div>
</div>

<div class="page-content login-coverFix">
    <!-- Main content -->
    <div class="content-wrapper">
        &nbsp;
        <div id="scoreCards" class="row" style="display:none;">
            <div class="col-sm-6 col-xl-3">
                <div class="card card-body bg-blue-400 has-bg-image">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="mb-0">54,390</h3>
                            <span class="text-uppercase font-size-xs">Today's Appointments</span>
                        </div>

                        <div class="ml-3 align-self-center">
                            <i class="icon-bubbles4 icon-3x opacity-75"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card card-body bg-danger-400 has-bg-image">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="mb-0">389,438</h3>
                            <span class="text-uppercase font-size-xs">total orders</span>
                        </div>

                        <div class="ml-3 align-self-center">
                            <i class="icon-bag icon-3x opacity-75"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card card-body bg-success-400 has-bg-image">
                    <div class="media">
                        <div class="mr-3 align-self-center">
                            <i class="icon-pointer icon-3x opacity-75"></i>
                        </div>

                        <div class="media-body text-right">
                            <h3 class="mb-0">652,549</h3>
                            <span class="text-uppercase font-size-xs">total clicks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">
            <div id="loginDiv" class="login-form wmin-sm-400" style="display:none;">
                <div class="card mb-0">
                    <div class="tab-content card-body">
                        <form id="loginform" method="post">
                            <input type="hidden" name="returnurl" id="returnurl" value="" />
                            <div class="tab-pane fade show active">
                                <div class="text-center mb-3">
                                    <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                    <h5 class="mb-0">Login to your account</h5>
                                    <span class="d-block text-muted">Your credentials</span>
                                </div>
                                <div class="form-group form-group-feedback form-group-feedback-left">

                                    <input asp-for="Input.Email" class="form-control" placeholder="Username/Email" />
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group d-flex align-items-center">
                                    <a asp-page="./ForgotPassword" class="ml-auto">Forgot password?</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    <button class="btn btn-danger btn-block" type="button" onclick="Login.hideLogin();">Cancel</button>
                                </div>
                                <div class="form-group">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                                <span class="form-text text-center text-muted">&copy; Logic Tech Corp. 2018. All rights reserved.</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


@section scripts
{
    @if (SignInManager.IsSignedIn(User))
    {
        <script src="~/bundling/js/loginPageCombined.min.js" async></script>
    }
    @*<script type="text/javascript">
        $(document).ready(function () {
            if ($("#lblErrorDashboard").val() != "") {
                alert($("#lblErrorDashboard").val());
            }
        });
    </script>*@
}
