@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<form class="login-form" method="post">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                <h5 class="mb-0">Login to your account</h5>
                <span class="d-block text-muted">Enter your credentials below</span>
            </div>
            
            <div class="form-group form-group-feedback form-group-feedback-left">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
                <span asp-validation-for="Input.Email" class="form-text text-danger"></span>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
                <span asp-validation-for="Input.Password" class="form-text text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
            </div>

            <div class="pull-left">
                <p>   <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
            </div>
            <div class="pull-right">
                <p>  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .login-form {
        width: 25rem !important;
    }
</style>