@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<form class="login-form" method="post">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                <h5 class="mb-0">Login to your account</h5>
                <span class="d-block text-muted">Enter your credentials below</span>
            </div>
            
            <div class="form-group form-group-feedback form-group-feedback-left">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
                <span asp-validation-for="Input.Email" class="form-text text-danger"></span>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
                <span asp-validation-for="Input.Password" class="form-text text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
            </div>

            <div class="pull-left">
                <p>   <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
            </div>
            <div class="pull-right">
                <p>  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
            </div>
        </div>
    </div>
</form>
<div id="Registration" class="modal fade" tabindex="-1" data-width="300" data-keyboard="false" role="dialog" aria-labelledby="Registration" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header btn-primary" style="padding-bottom: 10px">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">
           

                <div class="row">
                    <div class="col-md-12">
                         
                        <div class="form-group">

                            <div class="col-md-12">
                                <label class="control-label">Account has been created, Please check your email for confirmation</label> 

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .login-form {
        width: 25rem !important;
    }
</style>