@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


<div id="PublicFormloginModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Public Form</h5>

                <button id="btnPublicFormToggle" title="Preview" class="btn btn-primary pull-right isPreviewHidden divPublicFormList" onclick="Layout.togglePreviewButton(this,'publicFormListToggleParent')">
                    <span class="fa fa-eye"></span>
                </button>
                <button id="publicFormCreateNew" type="button" class="btn btn-success margin-right-5 pull-right titleButtonsDefault divPublicFormList" onclick="PublicFormControls.createNewForm();">Create New Form</button>
                <button type="button" class="btn btn-success margin-right-5 pull-right divPublicFormDesigner" onclick="PublicFormControls.saveFormDesign();">Save</button>
                <button type="button" class="btn btn-primary margin-right-5 pull-right divPublicFormDesigner" onclick="PublicFormControls.showFormList();">Cancel</button>
                <input type="text" name="txtformname" id="txtPublicformname" class="form-control pull-right textboxMinWidth divPublicFormDesigner" placeholder="Form Name" value="" />

                <button type="button" class="close" data-dismiss="modal" onclick="PublicFormControls.showFormList();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row divPublicFormList">
                    <div class="col-md-12">
                        <div class="block-content">
                            <div id="publicFormListToggleParent" class="row toggleDivParent toggleDivHidden">
                                <div class="panel-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div id="divPublicFormMainTable" class="col-md-12">
                                        <table id="tblPublicForm" class="table datatable-basic table-striped datatable-extended" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="splitter">
                                </div>
                                <div class="panel-right toogleDivMain">
                                    <div class="toogleDivTitle">
                                        <h2>
                                            preview
                                        </h2>
                                    </div>
                                    <div class="toogleDivContent">
                                        <iframe id="iframePreviewPublicForm"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divPublicFormDesigner" style="display:none;">
                    <input type="hidden" name="hdPublicsid" id="hdsPublicid" value="-1" />
                    <div class="row toggleDivParent toggleDivHidden">
                        <div class="col-md-12">
                            <div id="fbPublicForm-editor"></div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
